<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FN PROJECTS</title>
    <link rel="shortcut icon" href="static/photos/fngadiyo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="static/styles/index.css">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="static/photos/fngadiyo.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Convert Audio to Text
                        </h1>
                        <h2 class="subtitle">
                          Make sure your audio is .wav and with length under 1 minute, otherwise we can't transcribe it.
                        </h2>
                        <div class="box">
                              <form method="post" enctype="multipart/form-data">
                                {% for message in get_flashed_messages() %}
                                  <p style="color: red; font-style: italic;">{{ message }}</p>
                                {% endfor %}
                              <div class="input-group mb-3">
                                  <select class="custom-select" id="inputGroupSelect01" name="language">
                                    <option selected>Choose language</option>
                                    <option value="en-En">English</option>
                                    <option value="id-ID">Indonesia</option>
                                  </select>
                                </div>
                                <div class="input-group mb-3">
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="file">
                                    <label class="custom-file-label" for="inputGroupFile01"></label>
                                  </div>
                                </div>
                                <script>
                                  $("input[type=file]").change(function () {
                                      var fieldVal = $(this).val();
                              
                                      // Change the node's value by removing the fake path (Chrome)
                                      fieldVal = fieldVal.replace("C:\\fakepath\\", "");
                              
                                      if (fieldVal != undefined || fieldVal != "") {
                                          $(this).next(".custom-file-label").attr('data-content', fieldVal);
                                          $(this).next(".custom-file-label").text(fieldVal);
                                      }
                                  });
                              </script>
                              <button type="submit" class="btn btn-primary btn-lg btn-block">TRANSCRIBE</button>
                          </form>
                        </div>
                        {% if transcript != "" %}
                        <div class="box">  
                          <div class="card">
                            <div class="card-header">
                              Result
                            </div>
                            <div class="card-body">
                              <p class="card-text">{{ filenames }} : </p>
                              <p class="card-text">{{ transcript }}</p>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

    </section>
    <script async type="text/javascript" src="static/js/index.js"></script>
</body>

</html>